---
- hosts: all
  gather_facts: false
  become: yes

  vars:
    ansible_python_interpreter: /usr/bin/python3
    ssh_user: ec2-user

  tasks:

    - name: upgrade all packages
      become: yes
      yum:
        name: '*'
        state: latest
      vars:
        ansible_python_interpreter: /usr/bin/python

    - name: install packages
      become: yes
      yum:
        state: latest
        name: docker
      vars:
        ansible_python_interpreter: /usr/bin/python

    - name: Start and enable docker
      systemd:
        enabled: yes
        name: docker
        state: started

    - name: get kernel name
      command: uname -s
      register: kernel_name

    - name: get machine name
      command: uname -m
      register: machine_name

    - name: Download docker-compose
      become: yes
      get_url:
        dest: /usr/local/bin/docker-compose
        url: "https://github.com/docker/compose/releases/latest/download/docker-compose-{{kernel_name.stdout}}-{{machine_name.stdout}}"
        mode: 0755

    - name: adding existing user '{{ user }}' to group docker
      user:
        name: '{{ ssh_user }}'
        groups: docker
        append: yes

    - name: Download keycloak
      become: yes
      get_url:
        dest: /usr/local/bin/jq
        url: https://github.com/stedolan/jq/releases/download/jq-1.6/jq-linux64
        mode: 0755

    - name: Creates data directory
      become: yes
      file: 
        group: "{{ ssh_user }}"
        owner: "{{ ssh_user }}"
        path: "{{ item }}"
        state: directory
      with_items:
          - /data
          - /data/keycloak
          - /data/openrmf

    - name: Download keycloak
      get_url:
        dest: /data/OpenRMF-Keycloak-7.zip
        url: https://github.com/Cingulara/openrmf-docs/releases/download/1.0/OpenRMF-Keycloak-7.zip

    - name: Uncompress keycloak
      unarchive:
        dest: /data/keycloak
        src: /data/OpenRMF-Keycloak-7.zip
        remote_src: yes

    - name: Download OpenRMF
      get_url:
        dest: /data/OpenRMF-v1.0.zip
        url: https://github.com/Cingulara/openrmf-docs/releases/download/1.0/OpenRMF-v1.0.zip

    - name: Uncompress keycloak
      unarchive:
        dest: /data/openrmf
        src: /data/OpenRMF-v1.0.zip
        remote_src: yes

    - name: Copy keycloak initialization script.
      copy:
        src: setup-realm-linux.sh
        dest: /data/keycloak/setup-realm-linux.sh
        mode: 0755

    - name: Pull keycloak images
      command: /usr/local/bin/docker-compose pull
      args:
        chdir: /data/keycloak

    - name: Start keycloak images
      command: /usr/local/bin/docker-compose up --detach
      args:
        chdir: /data/keycloak

    - pause:
        seconds: 45

    - name: Provision keycloak realm
      become: yes
      command: ./setup-realm-linux.sh
      args:
        chdir: /data/keycloak
